<head>
  <title>BARANES Maxime</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link href="cv.css" rel="stylesheet">
</head>

<body>
  <div class="cv-container">
    <div class="left-column">
      <img class="portait" src="itsme.png" />
      <div class="section">
        <p>
          <i class="icon fab fa-linkedin text-darkblue"></i> BARANES Maxime
        </p>
      </div>
      <div class="section">
        <h2>À PROPOS</h2>
        <p>
          Après l’obtention de mon BTS SIO en alternance chez Gutenberg Networks je me suis dirigé vers la spécialisation système et réseau de l’école ESGI dans l’optique d’obtenir un mastère d’expert en ingénierie informatique. Pour ce faire j’ai entamé en septembre 2020 un nouveau contrat au sein de l’entreprise Groupama Supports & Services, qui me permet de me confronter aux problèmes rencontrés au sein des systèmes informatiques.
        </p>
      </div>
      <div class="section">
        <h2>COMPÉTENCES</h2>
        <ul class="skills">
          <li><i class="icon fas fa-check-circle text-darkblue"></i> <strong>Windows Server &#124; Azure AD</strong></li>
          <li><i class="icon fas fa-check-circle text-darkblue"></i> <strong>Scripting Powershell</strong></li>
          <li><i class="icon fas fa-check-circle text-darkblue"></i> <strong>Python &#124; Bash &#124; C</strong></li>
          <li><i class="icon fas fa-check-circle text-darkblue"></i> <strong>VMware &#124; Citrix</strong></li>
          <li><i class="icon fas fa-check-circle text-darkblue"></i> <strong>Administration Microsoft 365</strong></li>
          <li><i class="icon fas fa-check-circle text-darkblue"></i> <strong>Administration Exchange Server</strong></li>
        </ul>
      </div>
      <div class="section">
        <h2>Langues</h2>
        <p>
          Français, langue maternelle
          <br>
          Anglais, compétence professionnelle, TOEIC
        </p>
      </div>
      <div class="section">
        <h2>Centres d'intérêt</h2>
        <p>
          Jeux vidéo
          <br>
          Musique
          <br>
          Voyage
          <br>
          Sport
          <br>
          Informatique en général
        </p>
      </div>
    </div>
    <div class="right-column">
      <div class="header">
        <h1>Maxime <span class="text-blue text-uppercase">BARANES</span></h1>
        <p>ALTERNANT SYSTÈMES, RÉSEAUX ETCLOUD COMPUTING</p>
        <ul class="infos">
          <li><i class="icon fas fa-at text-blue"></i> <a href="mailto:maximebaranes@gmail.com">maximebaranes@gmail.com</a></li>
          <li><i class="icon fas fa-phone text-blue"></i> 06 06 06 06 06</li>
          <li><i class="icon fas fa-map-marker-alt text-blue"></i> Paris 75014</li>
          <li><i class="icon fas fa-at text-blue"></i><a href="cv.pdf" download="CVBARANESMaxime">Telecharger en PDF</a></li>
        </ul>
      </div>
      <div class="content">
        <div class="section">
          <h2>Expériences <br><span class="text-blue">professionelles</span></h2>
          <p>
            <strong>2020 <i class="fas fa-long-arrow-alt-right"></i> 2022</strong>
            <br>
            Administrateur des Serveurs Collaboratif et Technique en Alternance <em>GROUPAMA - G2S</em>
          </p>
          <ul class="experience-list">
            <li>Intervention sur des d'incidents de niveau 2</li>
            <li>Administration et Supervision des serveur Ctrix XenApp</li>
            <li>Gestion de taches au sein d'un projet</li>
            <li>Gestion des Utilisateurs, Groupes, GPO AD</li>
            <li>Gestion, Supervision et administration de VDI (Virtual Desktop Infrastructure)</li>
            <li>Scripting Powershell</li>
            <li>Formation prestataire et helpdesk</li>
          </ul>
        </div>
        <div class="section">
          <p>
            <strong>2018 <i class="fas fa-long-arrow-alt-right"></i> 2020</strong>
            <br>
            Alternant Administrateur Sys & Réseau <em>GUTENBERG NETWORKS</em>
          </p>
          <ul class="experience-list">
            <li>Intervention sur site / Aides à l'utilisateur</li>
            <li>Mise en place d'un serveur d'impression sous Windows Server 2012</li>
            <li>Mise en place d'un serveur GLPI (Accompagné)</li>
            <li>Gestion des machines via GLPI et FusionInventory</li>
            <li>Gestion de VLAN</li>
          </ul>
        </div>
        <div class="section">
          <h2>Études <br><span class="text-blue">& formations</span></h2>
          <p>
            <strong>2020 <i class="fas fa-long-arrow-alt-right"> 2022 </strong>
            <br>
            <em>Bachelor Systèmes, Réseaux et Cloud Computing</em>, ESGI - Paris 12
          </p>
          <p>
            <strong>2018 <i class="fas fa-long-arrow-alt-right"></i> 2020</strong>
            <br>
            <em>BTS Services Informatiques aux Organisations en alternance</em>, Lycée LES PETITS CHAMPS Paris, 19e
          </p>
          <p>
            <strong>2017 <i class="fas fa-long-arrow-alt-right"></i> 2018</strong>
            <br>
            <em>1ere année</em>, EPITECH - Paris
          </p>
          <p>
            <strong>2015 <i class="fas fa-long-arrow-alt-right"></i> 2017</strong>
            <br>
            <em>Baccalauréat STI2D Option systeme d'information numérique</em>, Lycée Privé Saint Nicolas Paris, 6e
          </p>
        <div class="section">
          <h2>Voyage <span class="text-blue"> professionelles </span> & Découverte</h2>
          <p>
            Paris - 19e
            <br>
            US - New-York
            <br>
            Normandie - Houlgate
          </p>
        </div>
        </div>
      </div>
    </div>
  </div>
</body>
